---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
	title="Trang Chủ"
	description="Chào mừng đến với trang web của chúng tôi."
>
	<!-- Nội dung trang của bạn ở đây -->
	<h1 class="text-4xl">Chào mừng!</h1>
	<p>Đây là nội dung của trang chủ.</p>
</BaseLayout>
